.section-6-background {
  position: relative;
  background-image: linear-gradient(
      0deg,
      #0d1117,
      rgba(13, 17, 23, 0.6) 25%,
      transparent 1px
    ),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0.6) 25%),
    radial-gradient(circle farthest-side at 50% 0, rgba(13, 17, 23, 0), #0d1117),
    url("../../assets/workskill-proj-1-background-translucent-2.svg");
  background-position: 0 0, 0 0, 0 0, -1px -1px;
  background-size: auto, auto, auto, 32px;
  color: #ccdae7;
  padding-bottom: 5vh;
  padding-top: 5vh;
  z-index: -1;
}
.section-title {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.03em;
  padding-top: 8vh;
  padding-left: 32vw;
  padding-bottom: 10vh;
}

.card {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  overflow: hidden;
  border-radius: 0.5em;
  background-color: #171e25;
  width: -webkit-fill-available;
  padding: 2vw;
}
.card-head {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.person-img-sec6 {
  width: 60px;
  border-radius: 50%;
}
.name-sec {
  font-size: 0.875em;
  line-height: 1.25;
  letter-spacing: -0.025em;
  font-weight: 600;
  position: relative;
  padding-top: 1vh;
}
.username {
  font-size: 0.875em;
  line-height: 1.25;
  letter-spacing: -0.005em;
  opacity: 0.8;
}
.name-desc {
  font-size: 0.875em;
  line-height: 1.25;
  letter-spacing: -0.005em;
  opacity: 0.8;
  padding-top: 2vh;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 15vw;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 0 2vw;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* section 6 part 2 */

.section-6-2-background {
  padding-top: 10vh;
  padding-bottom: 20vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      #0d1117,
      rgba(13, 17, 23, 0) 15%,
      transparent 1px
    ),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    radial-gradient(circle farthest-side at 50% 0, rgba(13, 17, 23, 0), #0d1117),
    url("../../assets/workskill-proj-1-background-translucent-2.svg");
  background-position: 0 0, 0 0, 0 0, -1px -1px;
  background-size: auto, auto, auto, 64px;
  background-color: #114a5f;

}
.banner-outer {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 60vw;
  margin-right: auto;
  margin-left: auto;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  z-index: 1;
  padding: 8vh 5vw;
}
.person-image {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 24px -8px #3f4852;
  border: 4px solid #fff;
}
.banner-head {
  letter-spacing: -0.025em;
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: 700;
}
.background-1 {
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  object-fit: cover;

  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 8px;
}
.background-2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: none;
  object-fit: cover;

  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 8px;
}
.desc-banner {
  padding-top: 10vh;
}
.desc-banner-name {
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 700;
}
.desc-banner-desg {
  opacity: 0.7;
}
