.tooltip-account {
    /* visibility: hidden; */
    width: 28vw;
    height: fit-content;
    background-color: #171E25;
    color: rgb(204,218,231);
    text-align: center;
    border-radius: 6px;
    padding: 2vh 3vw;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 48vw;
    margin-left: -60px;
    top: 10vh;
  }
  .tooltip-arrow-account {
    content: "";
    position: relative;
    bottom: 100%;
    left: 50vw;
    margin-left: -60px;
    top: -3.8vh;
    width: 2vw; 
    height: 2vh; 
    z-index: 5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid #171E25;
    }
    .right-grid-account{
        text-align: left;
        /* padding-left: 2vw; */
        padding-top: 2vh;
    }
    .features-account{
        font-family:'Times New Roman', Times, serif;
        font-size: 0.7em;
        letter-spacing: 0.2em;
        padding-bottom: 1vh;
    }
    .text-features-account{
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        font-size: 0.85em;
        color: #CCDAE7;
        margin-top: 1vh;
    }
    .text-sub-account{
        padding-left: 0.2vw;
        margin-bottom: 1vh;
    }
    .border-bottom-account{
        padding-top: 1vh;
        border-bottom: solid 1px #293136;
        margin-bottom: 1vh;
    }