.navbar-head {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease;
    z-index: 2;
  }
  .header2 {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: green;
    color: aliceblue;
    transform: translateY(10);
    transition: transform 6s ease;
    animation: myanimation 3s;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(13, 17, 23,0.88);
    z-index: 2;

  }
  @keyframes myanimation {
    0% {
      background-color: transparent;
      color: transparent;
    }
    35% {
      /* -webkit-backdrop-filter: blur(8px) grayscale(50%); */
      background-color: rgba(13, 17, 23, 0.68);
      backdrop-filter: blur(8px);
    }
    100% {
      /* -webkit-backdrop-filter: blur(8px) grayscale(30%); */
      backdrop-filter: blur(8px);
      background-color: rgba(13, 17, 23, 0.68);
    }
  }
  
  .header.shadow {
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  }
  
  .header.hidden {
    transform: translateY(-110%);
  }
  
  .navbar-sec {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4vh 12vw;
    z-index: 2;
    color: white;
    font-size: 0.8em;
    text-align: center;
  }
  .nav-left {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .nav-right {
    text-align: right;
  }
  .nav-right-button {
    background-color: #0052cc;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.8vh 1vw;
  }

  /* Mobile View */

  .mobile-view{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2vh 3vw;
    padding-top: 4vh;
    overflow: hidden;
    position: static;
    background: transparent;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease;
  }
  .logo-mob{
    text-align: left;
    width: 30vw;
  }
  .three-bars{
    text-align: right;
  }