.section4-background{
    background-color: #0e1117;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 5em;
    padding: 10vh 15vw;
    z-index: -1;
}
.image-background{
    background-image: url('../../assets/workskill-proj-1-img-7.jpeg');
    width: fit-content;
    object-fit: contain;
    height: 80vh;
    border: none;
    border-radius: 10px;
}
.img{
    width: 32vw;
    padding-top: 20vh;
    border: none;
    border-radius: 10px;
}
.section4-col2{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 5vh;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
}
.heading-sec4{
    position: relative;
    color: #ccdae7;
    letter-spacing: -.025em;
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 700
}
.gradient-head{
    padding-right: 0.05em;
    background-image: linear-gradient(351deg,#31b3ec 23%,#524add 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fingerprint{
    display: flex;
    width: 2.75em;
    height: 2.75em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 3px solid #7f89ec;
    border-radius: 9999px;
    background-color: #4036be;
    background-image: radial-gradient(circle farthest-side at -50% 50%,#524add,#4036be);
    box-shadow: inset 0 0 5px 0 #2e2799, 0 8px 24px -8px #7f89ec;
    font-family: 'ICONS SHARP',sans-serif;
    color: #bcc6ee;
    font-size: 1.25em;
    text-align: center;
}
.sub-text{
    padding-top: 2vh;
    font-size: 1.25em;
    line-height: 1.5;
    letter-spacing: -.02em;
    color: rgb(167,181,196);
}
.sec4-col{
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-row-gap: 1.5em;
}
.row2-sec4{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}
.line{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: min-content;
}
.lines{
    font-size: .875em;
    line-height: 1.25;
    letter-spacing: -.005em;
    color: rgb(167,181,196);
}
.border-line{
    border-top: solid 0.5px rgb(31, 37, 46);

}