.person-sec {
  padding: 4vh 20vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-person {
  text-align: center;
}
.section {
  width: 100%;
  padding: 15vh 0;
  /* background-color: #0e1117; */
  color: rgb(204,218,231);
  position: relative;
  background-image: linear-gradient(0deg, #0d1117, rgba(13, 17, 23, 0.6) 15%),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0.6) 15%),
    radial-gradient(circle farthest-side at 50% 0, rgba(13, 17, 23, 0), #0d1117),
    url(../../assets/workskill-proj-1-background-translucent-2.svg);
  background-position: 0 0, 0 0, 0 0, -1px -1px;
  background-size: auto, auto, auto, 32px;
}
.grid-pattern {
  z-index: -1;
}

.text-sec2 {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding-bottom: 2vh;
}
.person-img {
  width: 60px;
  border: 3px solid white;
  border-radius: 50%;
}
.bottom-text {
  font-size: 0.75em;
  color: #909dab;
}
.bottom-text-bold {
  font-size: 0.87em;
  font-weight: bold;
}

/* mobile-view */
@media only screen and (max-width: 768px) {
  .person-sec {
    padding: 4vh 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-person {
    text-align: center;
    padding-bottom: 3vh;
  }
  .text-sec2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2vh;
    padding: 0 6vw 2vh;
  }
  
}
